
.rounded-image-container {
    position: relative;
  }
  
  .menu-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; /* Keep the top corners rounded, and bottom corners straight */
  }
  
  .add-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }


  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

/* Styles for the backdrop overlay */
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Styles for the modal content */
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Make the modal content full height */
}

.modal-content {

  margin-top: 80%;
  margin-right: 15%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* Set maximum width for the modal content */
  width: 500px; /* Set a specific width for the modal content */
}

/* Center modal title */
.modal-title {
  text-align: center;
}

/* Center modal buttons */
.modal-footer {
  display: flex;
  justify-content: center;
}


.pizza-image-container {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .pizza-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .quantity-controls {
    border: 1px solid #ccc;
    padding: 10px;
    width: 70%;
  
  }
  