.menu-selection-button{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {


    .Menu-button-selection {
        display: flex;
        flex-direction: column;
        margin: 5%;
        margin-top: 6%;
       
    
      }

}