.main{
  background-image: url("../../assets/background.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  color: white;
}

/* home.css */

.animation-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  animation: slide-in 1s ease-out; /* Use the correct keyframes 'slide-in' */
  margin-bottom: 5%;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.logo {
  width: 50px; /* Adjust the size of the logo as needed */
  height: auto;
  margin-right: 1%; /* Add some space between the logo and text */
  animation: slide-in-text 2s ease-out; /* Use the same animation as the text */
}

.animated-text {
  animation: slide-in-text 2s ease-out; /* Keep the existing animation for the text */
}

@keyframes slide-in-text {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
  
  @media (max-width: 768px) {

  }


 



.Menu-button{
  display: flex;
  flex-direction: column;
  margin: 22%;

}

.btn-sign-in{
  margin-top: 10%;
}

.btn-video{
  margin-top: 10%;

}